%tr
  %td= text_field_tag("#{recipe[0]}_priority", 1, class: 'js-priority js-refresh-recipe input-tiny text-center', size: 2, maxlength: 2, title: "Priority")
  %td.js-recipe-name{data: {value: recipe[0].to_s.titleize}}
    = recipe[0].to_s.titleize
  %td= text_field_tag("#{recipe[0]}_quantity", 1, class: ' js-quantity js-refresh-recipe input-tiny text-center', size: 2, maxlength: 2, title: "Quantity")
  %td.js-gem1-name{data: {value: recipe[1][0].to_s.titleize}}
    - if recipe[1][0].present?
      %i.icon-star{data: {notification_for: recipe[1][0].to_s.titleize}}
    = recipe[1][0].to_s.titleize
  %td.js-gem2-name{data: {value: recipe[1][1].to_s.titleize}}
    - if recipe[1][1].present?
      %i.icon-star{data: {notification_for: recipe[1][1].to_s.titleize}}
    = recipe[1][1].to_s.titleize
  %td.js-gem3-name{data: {value: recipe[1][2].to_s.titleize}}
    - if recipe[1][2].present?
      %i.icon-star{data: {notification_for: recipe[1][2].to_s.titleize}}
    = recipe[1][2].to_s.titleize
  %td.js-gem4-name{data: {value: recipe[1][3].to_s.titleize}}
    - if recipe[1][3].present?
      %i.icon-star{data: {notification_for: recipe[1][3].to_s.titleize}}
    = recipe[1][3].to_s.titleize
